.category {
  @include flex(row, flex-start, center);

  height: 40px;
  box-sizing: border-box;
  padding: 0.8em 3vw 0;
  border-bottom: solid 1px $color-Grey;
  background: $color-Grey-light;
  font-family: $font-Goth-Bold;
  font-size: 0.6em;
  color: $color-Grey;

  .title {
    font-weight: 600;

    @include flex(row, flex-start, center);
  }

  .category-desc {
    padding-left: 3em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .fruits::before {
    background: url("./../img/vegetable.jpg");

    @include icon-circular;
  }

  .meats::before {
    background: url("./../img/meat.jpg");

    @include icon-circular;
  }
}
