.container {
  position: relative;
  padding: 0 1.1em;
  margin: 1.5em 0;
  background: $color-Grey-light;

  .carousel-nav-left,
  .carousel-nav-right,
  .carousel-nav-left2,
  .carousel-nav-right2 {
    position: absolute;
    width: 18px;
    height: 100%;
    color: $color-Grey;
    z-index: 10;

    @include center-content;

    @include breakpoint($mobile-screen) {
      display: none;
    }
  }

  .carousel-nav-left,
  .carousel-nav-left2 {
    left: 0;
    background: $color-Grey-light;

    &:hover {
      background: $color-Cabaret;
      color: $color-Grey-light;
      cursor: pointer;
    }
  }

  .carousel-nav-right,
  .carousel-nav-right2 {
    right: 0;
    background: $color-Grey-light;

    &:hover {
      background: $color-Cabaret;
      color: $color-Grey-light;
      cursor: pointer;
    }
  }

  .carousel-container {
    background: transparent;
    display: grid;
    place-items: center;

    @include breakpoint($desktop-screen) {
      height: 215px;
    }

    .main-carousel {
      width: 100%;
      background-color: $color-Grey-light;
      font-size: 14px;

      .flickity-button-icon {
        fill: $color-Cabaret;
      }

      .flickity-prev-next-button.previous {
        left: -16px;
        background: $color-Grey-light;
      
        &:hover {
          background: $color-Cabaret;
          cursor: pointer;

          svg {
            fill: $color-Grey-light;
          }
        }
      }

      .flickity-prev-next-button.next {
        right: -16px;
        background: $color-Grey-light;

        &:hover {
          background: $color-Cabaret;
          cursor: pointer;

          svg {
            fill: $color-Grey-light;
          }
        }
      }

      /* position dots up a bit */
      .flickity-page-dots {
        bottom: -22px;
      }

      /* dots are lines */
      .flickity-page-dots .dot {
        height: 4px;
        width: 40px;
        margin: 0;
        border-radius: 0;
      }

      &:after {
        content: 'flickity';
        display: none;
      }

      @include breakpoint($mobile-screen) {
        &:after {
          content: '';  
        }

        @include flex (row, center, center);
        justify-content: flex-start;
      }

      .item {
        width: 95px;

        @include breakpoint($mobile-screen) {
          width: 29%;
          box-sizing: border-box;
        }
        
        @include breakpoint($mobile-sm-screen) {
          width: 46%;
          box-sizing: border-box;
          padding: 0.7em;
          margin-right: 0.5em;
        }

        padding: 1em;
        margin-bottom: 1.2em;
        margin-right: 1.2em;
        background: white;
        overflow: hidden;

        @include breakpoint($desktop-screen) {
          margin-bottom: 0;
        }

        @include flex(column, flex-start, flex-start);

        font-size: 1em;

        .item-img {
          img {
            object-fit: cover;
            width: 100%;
            height: 95px;
          }
        }

        .item-title {
          font-family: $font-Goth-Bold;
          font-weight: 600;
          font-size: 0.95em;
          padding-top: 0.3em;
        }

        .item-desc {
          font-family: $font-Helv-Light;
          font-size: 0.8em;
          padding: 0.3em 0;
        }

        .item-foot {
          width: 100%;
          color: $color-Grey;

          @include flex(row, space-between, center);

          .item-price {
            font-family: $font-Helv-Bold;
            font-weight: 600;
            color: $color-Cabaret;
          }

          i {
            font-size: 1.25em;
          }
        }
      }

      .hide {
        @include breakpoint($mobile-screen) {
          display: none;
        }
      }

      .see-more{
        @include breakpoint($desktop-screen) {
          display: none;
        }

        @include flex(row, center, center);

        flex-basis: 100%;

        p {
          @include button;
        }
      }
    }
  }
}
