/*
  Header section
*/
// body {
//   max-width: 200px;
//   overflow: hidden;
// }

header {
  font-size: 10px;
  font-family: $font-Goth-Bold;

  nav {
    height: 35px;
    background: $color-Eclipse;

    ul {
      height: 100%;
      padding-left: 0.5em;

      @include flex();

      li {
        font-size: 1.1em;
        padding-right: 3vw;
        color: $color-Grey;

        i {
          padding-right: 1vw;
        }
      }

      .logo {
        @include logo;
        @include flex(row, flex-start, center);

        font-size: 1.23em;

        &::before {
          display: block;
          content: "";
          background: url("./../img/icont.png") no-repeat;
          background-size: contain;
          height: 1.8em;
          width: 1.8em;
          padding-right: 0.5em;
        }
      }

      .login {
        @include button();

        display: none;
      }
    }
  }
}
